body {
  font-family: "lato";
  color: white;
  background-image: url("../images/Fondo\ 1x.png");
}

.container {
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  min-width: 290px;
}

.clima__dias {
  display: flex;
  justify-content: space-around;
}

.clima__dias--cambio {
  display: flex;
  flex-direction: column;
}

.dias {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: space-around;
  /* Los items tienen el mismo espacio a su alrededor */
  padding: 0;
}

.details__conditions,
.details__conditions1,
.details__conditions2,
.details__conditions3,
.details__conditions4 {
  display: flex;
  justify-content: space-around;
}

.clic__moreInfo {
  border: 1px solid #ffffff33;
  border-radius: 25px;
  margin-top: 43px;
  justify-content: center;
  margin-bottom: 8px;
}

.clic__moreInfo:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.parametros {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.parametros__temp {
  color: #ff6b09;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.magnitudes {
  display: flex;
  flex-flow: column;
  margin-left: 8px;
  margin-bottom: 10px;
}

.magnitudes--ajuste {
  display: flex;
  gap: 10px;
  margin-right: 8px;
  margin-top: 5px;
}

.min__max {
  display: flex;
  gap: 15px;
  margin-left: -45px;
}

.min__max span {
  color: #ff6b09;
  font-size: 18px;
  line-height: 22px;
}

/*
  .more__info {
    margin-top: 15px
  }*/

.verMas,
.verMas1,
.verMas2,
.verMas3,
.verMas4 {
  margin-top: 15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
}

.icons__conditions {
  margin-left: 30px;
}

.hidden {
  display: none;
}

.hidden--query {
  display: none;
}

li {
  list-style: none;
}

.new__class {
  display: flex;
}

@media screen and (min-width: 768px) {
  .hidden--query {
    display: flex;
  }
}

/*@media screen and (min-width: 1200px){} */