*,
*::after,
*::before {
  /* outline: 3px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: grey;
  font-family: var(--font__general);
}

.container {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* margin: 0 auto; */
}

h1 {
  color: aqua;
}


/* CSS GP-001 */

:root {
  --font__general: 'Lato', sans-serif;
  --background__square: #102136;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cursor: pointer;
  --color-text-main: #FFFFFF;
}

.header {
  margin: 80px auto 132px; 
}

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: center;
}

.header__form {
  display: flex;
  justify-content: center;
}

.form-countries {
  width: 520px;
  border: none;
  border-radius: 30px;
  padding: 13px 55px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.one {
  display: flex;
  justify-content: end;
}

.temp__square {
  background-color: var(--background__square);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
  border-radius: 34px 0px 0px 34px;
  width: 450px;
  margin-bottom: 20px;
  color: var(--color-text-main);
  padding: 35px 0;
}

.off {
  color: #767D85;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.temp-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 6px;
}

.square-degrees {
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 10px auto 15px;
}

.temp-text {
  display: flex;
  justify-content: center;
  gap: 10px;
}



.section__btn {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  padding: 5px 40px;
  transition: var(--transition);
  cursor: var(--cursor);
}

.btn:focus,
.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

article .container__off {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 110px;
  margin-top: 95px;
  
}

.legend {
  width: 340px;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.04em;
  color: var(--color-text-main);
}

.author {
  font-style: normal;
}

.two {
  display: flex;
  justify-content: space-between;
}


.date__square {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(16, 33, 54, 0.6);
  border-radius: 0px 34px 0px 0px;
  opacity: 0.6;
  color: var(--color-text-main);
  padding-left: 110px;
  padding-top: 60px;
  padding-bottom: 90px;
}

.square-day {
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 108px;
  align-items: center;
  letter-spacing: 0.04em;
}

.day-details {
  display: flex;
  gap: 45px;
  align-items: center;
}

.day-details p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}


.square-time, .square-sunny{
  display: flex;
  align-items: center;
}


.v-line{
  border-left: 1px solid #FFFFFF;
  height:22px;
  opacity: 0.4;
  margin: 0 20px; 
}

.siceL {
  border: 1px solid #27384A;
  height:40px;
}

#nubes{
  display: flex;
  margin: 0 auto 10px;
}

#ubicacion {
  position: absolute;
  right: 860px;
  bottom: 14px;
}

#star {
  position: absolute;
  right: 400px;
  bottom: 14px;
}

#dawn, #sunset {
  fill: #FF6B09;
  margin-right: 10px;
}